body{
  margin:0;
  font-family: 'Playfair Display', Georgia, serif;
  font-size:15px;
  background:#F5E6D3;
  color:#2B2B2B;
}

/* LINKS */
a{
  text-decoration:none;
  color:#F5E6D3;
  transition:0.3s;
}

a:hover{
  color:#C2A878;
}

/* HEADER */
.cabecera{
  position:sticky;
  top:0;
  background:#4B2E2E;
  padding:15px 0;
  z-index:1000;
}

/* NAV */
.barra-navegacion{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

/* LOGO */
.logo{
  font-size:24px;
  font-weight:bold;
  color:#F5E6D3;
}

/* MENU */
.enlaces-navegacion a{
  margin-left:20px;
  font-weight:500;
}

/* HERO */
.hero{
  height:50vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#F5E6D3;
  text-align:center;
}

.hero h1{
  font-size:40px;
}

/* SECCION */
.seccion{
  padding:50px 20px;
}

/* FOOTER */
.pie{
  background:#4B2E2E;
  color:#F5E6D3;
  text-align:center;
  padding:20px;
  margin-top:40px;
}

/* RESPONSIVE  */
@media (max-width:768px){

  .barra-navegacion{
    flex-direction:column;
    text-align:center;
  }

  .enlaces-navegacion{
    margin-top:10px;
  }

  .enlaces-navegacion a{
    display:block;
    margin:8px 0;
  }

  .hero h1{
    font-size:28px;
  }

}
